@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');

body,
html {
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    font-family: "Hevetica Neue";
}

@font-face {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue'), url('../font/HelveticaNeue.otf') format('otf');
}

table{
    width: 100%;
    margin: auto;
}
thead{
    text-align: center;
    color: #2F2FE7;
}

.main{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.input-search{
    width: 8rem;
}


